<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.Apis" version="1.54.0" targetFramework="net46" />
  <package id="Google.Apis.Auth" version="1.54.0" targetFramework="net46" />
  <package id="Google.Apis.Core" version="1.54.0" targetFramework="net46" />
  <package id="Google.Apis.Docs.v1" version="1.54.0.2379" targetFramework="net46" />
  <package id="Google.Apis.Drive.v3" version="1.54.0.2397" targetFramework="net46" />
  <package id="Google.Apis.PeopleService.v1" version="1.54.0.2413" targetFramework="net46" />
  <package id="Google.Apis.Sheets.v4" version="1.54.0.2371" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net46" />
</packages>